doctype html
html(lang="ko")
    include inc/head.pug
    body
        div.container
            div.jumbotron.py-2
                h2= title
                    small 게시판 리스트
            .list-wrap
                table.table.table-bordered
                    thread
                        tr
                            th 번호
                            th 제목
                            th 작성자
                            th 작성일
                            th 조회수
                    tbody
                            

